.app {
  background-color: #f1f2f5;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #050505;
}

.app__body {
  display: flex;
  justify-content: space-between;
}
